<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SkyDev</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="wrapper">
        <%= render 'layouts/header' %>
        <div class="content">
          <div class="custom-content">
            <%= yield %>
          </div>
        </div>
        <%= render 'layouts/footer' %>
    </div>
    <script type="text/javascript" src="<%= asset_path('jquery.min.js') %>"></script>
    <script type="text/javascript" src="<%= asset_path('main.js') %>"></script>
</body>
</html>
